:root {
    font-family: Roboto;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    gap: 23%;
    align-items: center;
  }
  
  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: end;
    padding-right: 2em;
    padding-top: 1em;
  }
  
  nav a {
    font-size: 0.8em;
    font-weight: 300;
    text-decoration: none;
    color: black;
  }
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
  }
  
  #search-div {
    height: 2.7em;
    width: 35em;
    border: rgba(223, 214, 214, 0.733) 1px solid;
    border-radius: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 3px 3px 3px rgba(184, 182, 182, 0.486);
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
  }
  
  
  #search-div img {
    width: 1.5em;
    margin-left: 0.8em;
  }

  #search-div button {
    margin-right: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    cursor: pointer;
  }

  #search-div button img {
    width: 2.5em;
  }

  #search-bar {
    flex-grow: 1;
    height: 100%;
    border: none;
    padding: 0 0.5em;
    font-size: 1em;
    outline: none;
  }
  

  #logo {
    width: 17em;
    margin: 1em 0em;
  }
  